
.headr {
    display: flex;
    height: 200px;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
   place-content: center;
   padding: 50px;
   
    
}

.headr h1 {
   text-align: center;
}

.title-class {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 200px;
    background-image: url('https://t4.ftcdn.net/jpg/06/19/20/23/360_F_619202379_dgwX4WkhZj5NhH9BSQnCYAFA0eeEZfJJ.jpg');
    background-repeat: no-repeat;
    background-position: center;

    
}


.class-creation {
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 50px 50px;
    
}

.class-creation a {
    text-decoration: none;
    font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 32px;
}

.wrapper  {
    display: flex;
   
}

.cards {
    text-align: center;
    background-color: #FFFACD !important;
    height: 200px;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.row { 
    justify-content: center;
    
}


.form-wrapper {
    margin-top: 100px;
    display:flex;
    justify-content: center;
    width: 100wv;
    border-radius: 80%;
}

.form-card {
    width: 500px;
    height: 300px;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
font-size: 24px;
color: black;
font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  
  border-radius: 2rem;


  
}


.go-back {
    margin: 30px;
    text-align: center;
    font-size: 24px;
color: black;

  
}

.go-back a {
    text-decoration: none;
    color: black;
    
}

.go-back a:hover {
    color: orange;
}

a {
    color: white
}